.total {
    width: 416px;
    margin: 0 auto 56px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
    box-shadow: -16px 16px 49px 0px rgba(63,65,68,0.2);
    &_table {
    margin: 0 auto 28px;
    font-family: "Acrom-ExtraBold", sans-serif;
    font-size: 12px;
    color: $primary-color;
    min-height: 136px;
    text-transform: uppercase;
    line-height: 1.5;
    }
    &_name {
        text-align: right;
        width: 50%;
        padding: 16px 2px 3px 2px;
        span { 
            color: #ffffff;
            background: $primary-color;
        }
    }
}
.total_value {
    width: 50%;
    padding: 3px 2px;
    vertical-align: bottom;
    span {
        position: relative;
        &::after {
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        display: block;
        width: 100%;
        height: 0;
        border-bottom: 4px solid $secondary-color;
        transform: rotate(-10deg);   
    }
}
}
.add_info {
    padding-left: 70px;
    color: $secondary-color;
    font-family: "Acrom-Medium", sans-serif;
    font-size: 16px;
    margin: 0;
    width: 256px;
    position: relative;
    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 36px;
        height: 2px;
        background-color: $primary-color;
        transform: rotate(-55deg);
        bottom: 50%;
        left: 30px;
    }
}