@font-face {
  font-family: "Acrom-Regular";
  src: url(../fonts/Acrom-Regular.woff);
}
@font-face {
  font-family: "Acrom-Bold";
  src: url(../fonts/Acrom-Bold.woff);
}
@font-face {
  font-family: "Acrom-ExtraBold";
  src: url(../fonts/Acrom-ExtraBold.woff);
}
@font-face {
  font-family: "Acrom-Medium";
  src: url(../fonts/Acrom-Medium.woff);
}
