.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  font-family: "Acrom-Medium", serif;

  // &__mail {
  //   padding: 5px 0 5px 0;
  //   position: relative;
  // }

  &__mail a,
  &__tell a {
    color: $primary-color;
    text-decoration: none;
  }

  &__tell {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0 2px;
  }
}

.icon {
  width: 19px;
  height: 15px;
  padding-right: 3px;
}

.icon--tell{
  width: 14px;
  height: 14px;
  
}

.link_with_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
