.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-size: 11px;
  line-height: 2;
  font-family: "Acrom-Medium", serif;

  &__mail {
    padding: 5px 0 5px 0;
    position: relative;
  }

  &__mail a,
  &__tell a {
    color: $primary-color;
    text-decoration: none;
  }

  &__tell {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding: 0 2px;
  }
}
.icon {
  width: 14px;
  height: 14px;
  padding-right: 4px;
}
.link_with_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}